.svn
*.o
src/uncrustify
Makefile
man/Makefile
man/uncrustify.1
src/Makefile
src/stamp-h1
src/uncrustify_version.h
*.exe
*~
config.log
config.status
*.vtg
*.vpwh*
tests/results
tests/usage.txt
.waf*
.lock*
build
waf*
win32/Release
win32/Debug
*.obj
autom4te.cache
build
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/*.mode1v3
*.xcodeproj/*.tm_build_errors
*.tmproj
*.xcworkspace
xcuserdata
Debug
.*
uncrustify-*-win32
src/config.h
/configure
Makefile.in
/cov-int
/src/token_names.h
/aclocal.m4
