# Generated uncrustify files
src/config.h
src/token_names.h
src/uncrustify_version.h

# Testing framework
results/
tests/results/
tests/results_2/
tests/usage.txt
tests/pclint/
*.sh.trs
*.sh.log
test-suite.log

# UNIX build artifacts
*.[oadisS]
src/uncrustify

# Gnu autotools
Makefile
Makefile.in
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/autotools/compile
/config.h.in
/configure
/configure.scan
/depcomp
/autotools/install-sh
/autotools/missing
/autotools/test-driver
/stamp-h1
/src/stamp-h1
config.log
config.status
man/uncrustify.1

# SlickEdit workspace history and tag files
*.vtg
*.vpwh*

# for projects that use Waf for building: http://code.google.com/p/waf/
.waf-*
.lock*
waf*

# Visual Studio temporary files, build results, etc
win32/Intermediate
win32/Release
win32/Debug
win32/*.*sdf
win32/*.suo
win32/*.user
win32/**/*.VC.db
win32/**/*.obj
win32/**/*.exe

# XCode
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/*.mode1v3
*.xcodeproj/*.tm_build_errors
*.tmproj
*.xcworkspace
xcuserdata

# Windows mingw build
uncrustify-*-win32

# Sublime
*.sublime-workspace

# Coverity
/cov-int

# TRIAGE: To clasify or remove
.svn
*~
.*
build*


# Eclipse Build Directories
Debug/
Release/
build/

# Eclipse Configuration
.cproject
.project
.settings
