.svn
*.o
src/uncrustify
Makefile
man/Makefile
man/uncrustify.1
src/Makefile
src/stamp-h1
src/uncrustify_version.h
*.exe
*~
config.log
config.status
*.vtg
*.vpwh*
tests/results
.waf*
.lock*
build
waf*
win32/Intermediate
win32/Release
win32/Debug
win32/*.*sdf
win32/*.suo
win32/*.user
*.obj
autom4te.cache
build
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/*.mode1v3
*.xcodeproj/*.tm_build_errors
*.tmproj
*.xcworkspace
*.sublime-workspace
xcuserdata
Debug
.*
uncrustify-*-win32
src/config.h
*.sh.trs
*.sh.log
test-suite.log
