*               @gmaurel @mwoehlke-kitware @micheleCTDEAdmin

.editorconfig   @mihaipopescu

# CI
.travis.yml     @mihaipopescu
appveyor.yml    @mihaipopescu

# emscripten
#/emscripten/    @CDanU
#/src/uncrustify_emscripten.cpp @CDanU
