# The uncrustify sources are uncrustified with this config file.
#
output_tab_size                 = 3
tok_split_gte                   = true
indent_columns                  = 3
indent_with_tabs                = 0
indent_class                    = true
indent_member                   = 3
indent_bool_paren               = true
indent_first_bool_expr          = true
sp_arith                        = force
sp_assign                       = force
sp_assign_default               = force
sp_bool                         = force
sp_compare                      = force
sp_inside_paren                 = remove
sp_paren_paren                  = remove
sp_before_ptr_star              = force
sp_between_ptr_star             = remove
sp_after_ptr_star               = remove
sp_before_byref                 = force
sp_after_byref                  = remove
sp_before_angle                 = remove
sp_inside_angle                 = remove
sp_after_angle                  = force
sp_angle_paren                  = remove
sp_angle_paren_empty            = remove
sp_angle_word                   = force
sp_before_sparen                = force
sp_inside_sparen                = remove
sp_after_sparen                 = force
sp_before_semi_for              = remove
sp_before_semi_for_empty        = force
sp_before_squares               = remove
sp_inside_square                = remove
sp_after_comma                  = force
sp_before_ellipsis              = remove
sp_after_cast                   = remove
sp_sizeof_paren                 = remove
sp_inside_braces_enum           = force
sp_inside_braces_struct         = force
sp_inside_braces                = force
sp_func_proto_paren             = remove
sp_func_def_paren               = remove
sp_inside_fparen                = remove
sp_after_tparen_close           = remove
sp_func_call_paren              = remove
sp_return_paren                 = remove
sp_attribute_paren              = remove
sp_defined_paren                = force
sp_brace_typedef                = force
sp_before_dc                    = remove
sp_after_dc                     = remove
sp_enum_assign                  = force
sp_enum_colon                   = force
align_number_right               = true
align_func_params               = true
align_var_def_span              = 2
align_var_def_star_style        = 1
align_var_def_colon             = true
align_var_def_inline            = true
align_assign_span               = 1
align_enum_equ_span             = 4
align_var_class_span            = 2
align_var_struct_span           = 3
align_struct_init_span          = 3
align_typedef_gap               = 3
align_typedef_span              = 5
align_typedef_star_style        = 1
align_right_cmt_span            = 3
align_nl_cont                   = true
align_pp_define_gap             = 4
align_pp_define_span            = 3
align_asm_colon                 = true
align_enum_equ_thresh           = 8
nl_assign_leave_one_liners      = true
nl_class_leave_one_liners       = true
nl_enum_leave_one_liners        = true
nl_getset_leave_one_liners      = true
nl_assign_brace                 = add
nl_func_var_def_blk             = 1
nl_fcall_brace                  = add
nl_enum_brace                   = force
nl_struct_brace                 = add
nl_union_brace                  = add
nl_if_brace                     = add
nl_brace_else                   = add
nl_elseif_brace                 = add
nl_else_brace                   = add
nl_before_if_closing_paren      = remove
nl_finally_brace                = add
nl_try_brace                    = add
nl_for_brace                    = add
nl_catch_brace                  = add
nl_while_brace                  = add
nl_do_brace                     = add
nl_brace_while                  = remove
nl_switch_brace                 = add
nl_before_case                  = true
nl_after_case                   = true
nl_case_colon_brace             = force
nl_constr_init_args             = force
nl_func_type_name               = remove
nl_func_paren                   = remove
nl_func_def_paren               = remove
nl_func_decl_start              = remove
nl_func_def_start               = remove
nl_func_decl_start_single       = remove
nl_func_def_start_single        = remove
nl_func_decl_args               = remove
nl_func_decl_end                = remove
nl_func_def_end                 = remove
nl_func_decl_end_single         = remove
nl_func_def_end_single          = remove
nl_fdef_brace                   = force
nl_return_expr                  = remove
nl_after_semicolon              = true
nl_after_brace_open             = true
nl_after_vbrace_open            = true
nl_after_brace_close            = true
nl_squeeze_ifdef                = true
nl_before_func_class_def        = 3
nl_constr_colon                 = force
pos_constr_comma                = lead_force
pos_constr_colon                = lead_break
pos_bool                        = lead
pos_enum_comma                  = trail_force
nl_max                          = 3
nl_after_func_proto             = 1
nl_after_func_proto_group       = 2
nl_before_func_body_def         = 3
nl_after_access_spec            = 1
nl_comment_func_def             = 1
eat_blanks_after_open_brace     = true
eat_blanks_before_close_brace   = true
nl_after_return                 = true
nl_enum_class                 = remove
nl_enum_class_identifier      = remove
nl_enum_identifier_colon      = remove
nl_enum_colon_type            = remove
mod_full_brace_do               = add
mod_full_brace_for              = add
mod_full_brace_if               = add
mod_full_brace_while            = add
mod_paren_on_return             = add
mod_remove_extra_semicolon      = true
mod_add_long_function_closebrace_comment = 40
mod_add_long_switch_closebrace_comment = 40
mod_remove_empty_return         = true
cmt_star_cont                   = true
pp_indent                       = remove
pp_space                        = remove
